/* Color Pallette */

$black: #0a0a0a;
$white: #ffffff;

$gray: #111111;
$gray-light: #f7f7f7;
$gray-dark: #aaaaaa;

$primary-color: #c5b6f1;
$primary-dark: #756aa5;

$secondary-color: #d3ffb4;
$secondary-dark: #77995e;

$primary-gradient: linear-gradient(87deg, rgba(117,106,165,1) 0%, rgba(197,182,241,1) 100%);

/* Text Sizes */

$small: 12px;
$standar: 15px;
$big: 20px;
$xbig: 30px;
$xlbig: 40px;
