/* Imports */
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Common */

body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: $black;
  overflow-x: hidden;
}

ul, h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  margin: 0;
  list-style: none;
  padding: 0;
}

input, select {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar{
  width: .5em;
  display: fixed;
}

::-webkit-scrollbar-track{
  background-color: $primary-color;
  border-radius: 100vw;
  margin-block: 8em;
}

::-webkit-scrollbar-thumb{
  background-color: $black;
  border: .1em solid $primary-color;
  border-radius: 100vw;
  
}

::-webkit-scrollbar-thumb:hover{
  background-color: $black;
}

.app{
  margin-top: 59px;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  @media (max-width: 1000px) {
    padding: 0 0px;
    margin-top: 50px;
  }
}

.cp-hs{
  cursor: pointer;
  transition: .3s ease-out;
  &:hover{
    transform: scale(1.04);
  }
}

.pr-gr{
  background: $primary-gradient;
}

.sbtn{
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  color: $white;
  font-size: $small;
}

/* Components */

.public-navbar{
  display: flex;
  flex-direction: row;
  width: calc(100% - 160px);
  padding: 10px 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  animation: fadeIn 1s forwards;
  background: linear-gradient(180deg, rgba($black, 1) 20%, rgba($black, 0) 100%);
  .nav-logo{
    width: 20%;
  }
  @media (max-width: 1000px) {
    width: calc(100% - 80px);
    padding: 10px 40px;
  }
}

.public-navbar-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  background-color: rgba($black, 0);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  transition: .3s ease-out;
  background: linear-gradient(180deg, rgba($black, 1) 20%, rgba($black, 0) 100%);
  animation: fadeIn 1s forwards;
  .abtn{
    position: absolute;
    top: 12px;
    left: 15px;
  }
  .nav-logo{
    margin-bottom: 15px;
  }
  .nav-links{
    margin: 15px 0;
    padding: 30px 0;
    flex-direction: column !important;
    align-items: center;
  }
  .nav-options{
    margin: 15px 0;
  }
  &.show{
    height: 330px;
    border-radius: 0 0 25px 25px;
    background-color: rgba($black, 1);
  }
}

#close-menu{
  animation: fadeIn .3s forwards;
}

.nav-links{
  color: $white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  span{
    font-size: $small;
    cursor: pointer;
    transition: .3s ease-out;
    position: relative;
    display: inline-block;
    &::after{
      position: absolute;
      left: 0;
      bottom: -10px;
      content: '';
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: .3s ease-out;
    }
    &:hover{
      color: $primary-color;
      &::after{
        width: 100%;
      }
    }
    &.on{
      color: $primary-color;
      &::after{
        width: 100%;
      }
    }
  }
  @media (max-width: 900px) {
    span{
      font-size: $standar;
    }
  }
}

.nav-options{
  width: 20%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  span{
    font-size: $small;
    font-weight: 600;
    color: $primary-color;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s ease-out;
    position: relative;
    display: inline-block;
    &::after{
      position: absolute;
      left: 0;
      bottom: -10px;
      content: '';
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: .3s ease-out;
    }
    &:hover{
      color: $primary-color;
      &::after{
        width: 100%;
      }
    }
  }
  @media (max-width: 900px) {
    justify-content: center;
    span{
      font-size: $standar;
    }
    .sbtn{
      font-size: $standar;
    }
  }
}

.sep-line{
  height: .5px;
  width: 60%;
  background-color: rgba($white, 0.3);
}

.search-bar{
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  opacity: .3;
  transition: .3s ease-out;
  .search-wrap{
    width: 60%;
    height: 40px;
    border-radius: 25px;
    border: solid 2px $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 1rem;
    input{
      width: 100%;
      font-size: $standar;
      background-color: transparent;
      border: none;
      text-align: center;
      outline: none;
      color: $white;
    }
  }
  &.focus{
    opacity: 1;
  }
}

.main-footer{
  width: calc(100% - 80px);
  height: fit-content;
  background-color: $gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .items{
    border-bottom: solid 1px $secondary-color;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .item{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .title{
        color: $secondary-color;
        font-size: $big;
        font-weight: 700;
      }
      .list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a{
          cursor: pointer;
          color: $white;
          font-size: $standar;
        }
        .special{
          display: flex;
          gap: 1rem;
          align-items: center;
          a{
            cursor: pointer;
            font-weight: 700;
          }
        }
      }
    }
  }
  .outpage{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    .movile, .social{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .title{
        color: $primary-color;
        font-size: $big;
        h3{
          font-size: $big;
        }
        p{
          color: $white;
          font-size: $standar;
        }
      }
      .list{
        display: flex;
        gap: .5rem;
        img{
          cursor: pointer;
        }
      }
    }
    .social{
      align-items: flex-end;
    }
  }
  @media (max-width: 1000px) {
    transform: none;
    .items{
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
    .outpage{
      flex-direction: column;
      gap: 2rem;
      .social{
        align-items: flex-start;
      }
    }
  }
}

/* Home */

.home-sec1{
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  .home-asset{
    position: absolute;
    transition: .3s ease-out;
    &#ast-h2{
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -10;
      height: auto;
      @media (max-width: 1200px) {
        width: 800px;
      }
      @media (max-width: 1000px) {
        top: 10%;
        width: 700px;
      }
      @media (max-width: 750px) {
        top: 6%;
        width: 350px;
      }
    }
    &#ast-h1{
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -8;
      height: auto;
      @media (max-width: 1000px) {
        top: 27%;
        width: 350px;
      }
      @media (max-width: 750px) {
        top: 25%;
        left: 30%;
        opacity: 0;
        width: 200px;
      }
    }
  }
  .home-radialgradient{
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: -9;
    border-radius: 50%;
    &#gradi-1{
      filter: blur(25px);
      top: 20%;
      left: 0;
      background: radial-gradient(circle, rgba($secondary-color,0.5) 0%, rgba(10,10,10,0) 70%);
    }
    &#gradi-2{
      filter: blur(25px);
      top: 10%;
      right: 0;
      background: radial-gradient(circle, rgba($primary-color,0.5) 0%, rgba(10,10,10,0) 70%);
    }
  }
  .home-items{
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home-info{
      color: $white;
      font-size: $standar;
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      b{
        font-weight: 700;
        color: $secondary-color;
      }
    }
    .home-options{
      display: flex;
      flex-direction: column;
      color: $white;
      font-size: $small;
      gap: 1rem;
      .op-title{
          margin-left: 15px;
      }
      .options-container{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        .option{
          font-size: $standar;
          background-color: rgba($black, .5);
          width: 280px;
          border-radius: 25px;
          padding: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          transition: .3s ease-out;
          .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            padding: 5px;
            border-radius: 50%;
            background: $primary-gradient;;
          }
          span{
            margin-left: 15px;
            width: 75%;
          }
          .arrow{
            width: 10%;
            opacity: .5;
            transition: .3s ease-out;
          }
          &:hover{
            cursor: pointer;
            background-color: rgba($black, .8);
            .arrow{
              opacity: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1200px) {
      margin-top: 300px;
      margin-left: 70px;
      margin-right: 70px;
      gap: 2rem;
      .home-info{
        width: 250px;
      }
      .home-options{
        .options-container{
          .option{
            width: 230px;
          }
        }
      }
    }
    @media (max-width: 1000px) {
      margin-top: 250px;
      margin-left: 70px;
      margin-right: 70px;
      gap: 2rem;
      .home-info{
        width: 250px;
      }
      .home-options{
        .options-container{
          .option{
            width: 230px;
          }
        }
      }
    }
    @media (max-width: 750px) {
      flex-direction: column;
      margin-top: 140px;
      gap: 2rem;
      align-items: center;
      .home-info{
        width: 250px;
        text-align: center;
      }
      .home-options{
        .op-title{
          text-align: center;
        }
        .options-container{
          .option{
            width: 230px;
          }
        }
      }
    }
  }
}

.card-slider{
  position: relative;
  width: 100%;
  .slider{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    display: flex;
    width: fit-content;
    gap: 10vw;
    transition: 1s ease-in-out;
    .card{
      background: $primary-gradient;
      width: 60vw;
      border-radius: 40px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
      position: relative;
      overflow: hidden;
      .card-header{
        font-size: $standar;
        h2{
          font-size: $xlbig;
        }
      }
      .card-footer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        font-size: $standar;
        h2{
          font-size: $xlbig;
          b{
            color: $secondary-color;
          }
        }
        .more{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-weight: 700;
          color: $white;
          width: fit-content;
          gap: .5rem;
        }
      }
      #chill-asset{
        position: absolute;
        left: 55%;
        top: 40%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: .1;
        pointer-events: none;
        filter: invert(1);
        @media (max-width: 750px) {
          width: 520px;
          height: auto;
        }
      }
    }
    &.next {
      transform: translate(-85%, -50%);
    }
    &.prev {
      transform: translate(-15%, -50%);
    }
    @media (max-width: 750px) {
      gap: 5vw;
      .card{
        width: 70vw;
        .card-header{
          h2{
            font-size: $xbig;
          }
        }
        .card-footer{
          h2{
            font-size: $xbig;
          }
        }
      }
      &.next {
        transform: translate(-83%, -50%);
      }
      &.prev {
        transform: translate(-17%, -50%);
      }
    }
  }
  .slider-controller{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    padding: 25px;
    background-color: rgba($primary-dark, .5);
    border-radius: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .control{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $primary-color;
      transition: 1s ease-in-out;
      cursor: pointer;
      &.active{
        width: 50px;
        border-radius: 7px;
      }
    }
  }
}

.header{
  color: $secondary-color;
  margin-bottom: 20px;
  h2{
    font-size: $big;
  }
  p{
    font-size: $standar;
  }
  @media (max-width: 1000px) {
    padding: 0 40px;
  }
}

.events{
  width: 100%;
  margin-bottom: 50px;
  .eve-body{
    height: 300px;
    width: calc(100% - 80px);
    padding: 40px;
    border-radius: 25px;
    background: linear-gradient($primary-color 0%, $primary-dark 100%);
    .events{
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      width: 100%;
      .event{
        width: 10%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        cursor: pointer;
        transition: .5s ease-out;
        background-color: $black;
        .topic{
          text-align: end;
          margin: 20px;
          z-index: 1;
          color: $white;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          gap: .6rem;
          opacity: 0;
          transition: .5s ease-out;
          h2{
            white-space: nowrap;
            font-size: $xbig;
            font-weight: 700;
          }
          p{
            white-space: nowrap;
          }
          .more{
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .5rem;
            font-weight: 700;
            span{
              white-space: nowrap;
            }
          }
        }
        .photo{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: 300px;
          opacity: .5;
          filter: blur(5px);
          z-index: 0;
          transition: 1s ease-out;
        }
        &.active{
          width: calc(80% - 1rem);
          cursor: default;
          .topic{
            opacity: 1;
          }
          .photo{
            filter: blur(0);
            width: 100%;
            height: auto;
          }
        }
        &:hover{
          .photo{
            filter: blur(2px);
          }
        }
      }
      @media (max-width: 750px) {
        flex-direction: column;
        .event{
          width: 100%;
          height: 10%;
          .photo{
            width: 100%;
            height: 210px;
          }
          &.active{
            height: calc(80% - 1rem);
            width: 100%;
          }
        }
      }
    }
  }
  .eve-footer{
    margin-top: 30px;
    font-size: $standar;
    font-weight: 500;
    text-align: end;
    span{
      color: $primary-color;
      font-size: $standar;
      cursor: pointer;
      transition: .3s ease-out;
      position: relative;
      display: inline-block;
      &::after{
        position: absolute;
        left: 0;
        bottom: -10px;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        transition: .3s ease-out;
      }
      &:hover{
        color: $secondary-color;
        &::after{
          background-color: $secondary-color;
        }
      }
    }
    @media (max-width: 750px) {
      margin: 30px 40px 0 40px;
    }
  }
}

.partners{
  width: 100%;
  margin-bottom: 50px;
  .par-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .partner{
      border: solid 2px $primary-color;
      width: 250px;
      padding: 20px;
      height: 220px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .photo{
        position: relative;
        overflow: hidden;
        width: 250px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
          color: $white;
          z-index: 1;
        }
        .ph{
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 0;
        }
      }
      .topic{
        display: flex;
        gap: 1rem;
        h3{
          color: $secondary-color;
          font-size: $xbig;
        }
        p{
          color: $white;
          font-size: $standar;
        }
      }
      .more{
        width: fit-content;
        text-align: end;
        color: $primary-color;
        font-size: $standar;
        font-weight: 500;
      }
    }
    .partner-more{
      width: 250px;
      padding: 20px;
      border-radius: 25px;
      height: 220px;
      background: $primary-gradient;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $big;
      font-weight: 700;
      color: $white;
    }
    @media (max-width: 750px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.shortcuts{
  height: fit-content;
  width: calc(100% - 200px);
  padding: 40px 100px;
  border-radius: 25px;
  background: linear-gradient($primary-color 0%, $primary-dark 100%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  span{
    font-size: $big;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    .shortcut{
      width: 160px;
      height: 160px;
      padding: 20px;
      background-color: $black;
      border-radius: 25px;
      position: relative;
      display: flex;
      flex-direction: column;
      .arrow{
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .icon{
        width: 40px;
        height: 40px;
        border: solid 1px $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
      h2{
        font-size: $big;
        color: $white;
        b{
          color: $primary-color;
        }
      }
    }
  }
  @media (max-width: 750px) {
    width: calc(100% - 160px);
    padding: 40px 80px;
    gap: 1rem;
    span{
      font-size: $standar;
    }
    .container{
      flex-direction: column;
      gap: .5rem;
      .shortcut{
        width: calc(100% - 40px);
        flex-direction: row;
        gap: 1rem;
        height: 25px;
        border-radius: 35px;
        align-items: center;
        justify-content: flex-start;
        .icon{
          margin: 0;
        }
        h2{
          font-size: $standar;
        }
      }
    }
  }
}

.cosede-slider{
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 50px;
  .slider{
    width: fit-content;
    display: flex;
    gap: 10vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-25%, -50%);
    transition: 1s ease-in-out;
    .cosede{
      width: calc(60vw - 80px);
      padding: 0 40px;
      border: solid 2px $white;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 25px;
      gap: 3rem;
      .photo{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .info{
        display: flex;
        flex-direction: column;
        color: $white;
        gap: .5rem;
        p{
          font-size: $standar;
        }
        .more{
          width: fit-content;
          display: flex;
          align-items: center;
          color: $primary-color;
          gap: 1rem;
          font-weight: 700;
        }
      }
    }
    &.next{
      transform: translate(-75%, -50%);
    }
  }
  .slider-controller{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    padding: 25px;
    background-color: rgba($white, .5);
    border-radius: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .control{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $white;
      transition: 1s ease-in-out;
      cursor: pointer;
      &.active{
        width: 40px;
        border-radius: 7px;
      }
    }
  }
  @media (max-width: 900px) {
    .slider{
      transform: translate(-23%, -50%);
      .cosede{
        width: calc(70vw - 80px);
        .photo{
          img{
            height: 60px;
            width: auto;
          }
        }
      }
      &.next{
        transform: translate(-77%, -50%);
      }
    }
  }
  @media (max-width: 750px) {
    height: 500px;
    .slider{
      transform: translate(-23%, -50%);
      .cosede{
        width: calc(80vw - 80px);
        flex-direction: column;
        height: 200px;
        padding: 40px;
        align-items: center;
        gap: 1rem;
        .photo{
          img{
            height: 80px;
            width: auto;
          }
        }
        
      }
      &.next{
        transform: translate(-77%, -50%);
      }
    }
  }
}

/* Animations */

@keyframes fadeIn {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
