/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colores */

$-color-black:#111111;
$-color-primary: #00ff9d;
$-color-white: #ffffff;

/* Common */

h1, h2, h3, h4, h5, h6, span, p{
    margin: 0;
    padding: 0;
}

/* NavBar */

.navbar{
    height: 80px;
    background-color: $-color-black;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .nav-warp{
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin: 0;
        .nav-item{
            .user-data{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                text-align: end;
                h4{
                    color: $-color-white;
                    font-size: 22px;
                    font-weight: 700;
                }
                span{
                    color: $-color-white;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
            .nav-btn{
                button{
                    outline: none;
                    border: solid 1px $-color-white;
                    padding: 8px 15px;
                    border-radius: 5px;
                    background-color: $-color-white;
                    font-size: 16px;
                    font-weight: 700;
                    color: $-color-black;
                    font-family: 'Montserrat';
                    cursor: pointer;
                    transition: .3s ease-out;
                    position: relative;
                    &::after{
                        opacity: 0;
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding: 3px;
                        border-radius: 10px;
                        background-color: transparent;
                        border: solid 1px $-color-white;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: .3s ease-out;
                    }
                    &:hover{
                        background-color: rgba($-color-black, 1);
                        border: solid 1px $-color-black;
                        color: $-color-white;
                        &::after{
                            opacity: 1;
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }
            }
        }
    }
}

.body{
    height: 100vh;
    width: 100vw;
    position: relative;   
    display: flex;     
    .content-warp{
        margin-top: 80px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .wolf-warp{
            min-width: 150px;
        }
        .card-warp{
            width: 70%;
            min-width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            .principle-card-warp{
                width: 95%;
                min-height: 600px;
                height:  90%;
                border: solid 1px $-color-white;
                border-radius: 24px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .principle-card{
                    background-color: rgba($-color-black, .4);
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .card-content{
                        width: 90%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .games-header{
                            background-color: $-color-white;
                            width: 100%;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            ul{
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                li{
                                    list-style: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 15px;
                                    font-weight: 400;
                                    &:nth-child(1),
                                    &:nth-child(3){
                                        width: 25%;
                                        min-width: 120px;
                                    }
                                    &:nth-child(2){
                                        width: 30px;
                                    }
                                    &:nth-child(4){
                                        width: 20%;
                                        min-width: 80px;
                                    }
                                    &.options{
                                        display: flex;
                                        gap: .5rem;
                                        justify-content: space-around;
                                        width: 100px;
                                        .option{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background-color: $-color-black;
                                            color: $-color-white;
                                            width: 20px;
                                            height: 20px;
                                            font-size: 12px;
                                            font-weight: 600;
                                            border-radius: 23px;
                                        }
                                    }
                                }
                            }
                        }
                        .games-body{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .game{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                gap: 1rem;
                                .game-header{
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;
                                    justify-content: center;
                                    h1{
                                        font-size: 24px;
                                        color: $-color-white;
                                    }
                                }
                                .game-body{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    .g-row{
                                        border-top: solid 1px $-color-white;
                                        display: flex;
                                        flex-direction: row;
                                        width: 100%;
                                        justify-content: space-between;
                                        align-items: center;
                                        height: 40px;
                                        .vs{
                                            color: $-color-white;
                                            font-weight: 400;
                                            font-size: 13px;
                                            text-align: center;
                                            width: 30px;
                                        }
                                        .date{
                                            color: $-color-white;
                                            font-weight: 400;
                                            font-size: 13px;
                                            text-align: center;
                                            width: 20%;
                                            min-width: 80px;
                                        }
                                        .team{
                                            width: 25%;
                                            min-width: 120px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            div{
                                                text-align: center;
                                                width: 80%;
                                                color: $-color-white;
                                                font-weight: 400;
                                                font-size: 13px;
                                            }
                                        }
                                        .options{
                                            display: flex;
                                            gap: .5rem;
                                            justify-content: space-around;
                                            width: 100px;
                                            .option{
                                                width: 20px;
                                                height: 20px;
                                                background-color: $-color-white;
                                                border-radius: 23px;
                                                &.selected{
                                                    background-color: $-color-primary;
                                                }
                                            }
                                        }
                                        &:last-child{
                                            border-bottom: solid 1px $-color-white;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
        .info-warp{
            min-width: 150px;
        }
    }
    .bg-img{
        width: 100%;
        height: 100%;
        background-image: url('/images/prono/bg-prono1.png');
        background-size: cover; 
        background-position: center; 
        position: absolute;        
        z-index: -1;
        &::after{
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,255,161,1) 100%);
        }
    }
}